@import url('./app.js');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 320px) {
    .principal {
        width: 100%;
        height: 50px;
        background-color: beige;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .principal .menu {
        margin-left: 20px;
    }

    .principal .lupa {
        margin-right: 20px;
    }

    .show-lupa {
        width: 25px;
        height: 25px;
    }

    .show-menu {
        width: 25px;
        height: 25px;
        transition-delay: 3s;
    }

    .show-menu:active {
        transform: rotate(90deg);
        transition: 0.2s;
    }

    .show-men {
        position: absolute;
        top: 40px;
        width: 290px;
        height: 500px;
        background-color: rgb(245, 245, 235);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        z-index: 1;
    }

    .things {
        background-color: rgb(236, 232, 232);
        width: 100%;
        border-bottom: 1px solid rgb(205, 205, 205);
    }

    .show-men .things h1 {
        margin-left: 15px;
        font-size: 2.30em;
    }

    .show-men ul {
        font-size: 30px;
        background-color: rgb(236, 232, 232);
        width: 100%;
    }

    .show-men li {
        list-style: none;
        font-weight: 500;
    }

    .show-men li:nth-child(1) {
        color: red;
    }
    .show-men li:nth-child(2) {
        color: green;
    }
    .show-men li:nth-child(3) {
        color: blue;
    }
    .show-men li:nth-child(4) {
        color: violet;
    }
    .show-men li:nth-child(5) {
        color: rgb(183, 192, 53);
    }
    .show-men li:nth-child(6) {
        color: rgb(0, 255, 200);
    }
    .show-men li:nth-child(7) {
        color: rgb(255, 115, 0);
    }
    .show-men li:nth-child(8) {
        color: rgb(33, 190, 96);
    }
    .show-men li:nth-child(9) {
        color: rgb(178, 30, 227);
    }
    .show-men li:nth-child(10) {
        color: rgb(63, 148, 188);
    }
    .show-men li:nth-child(11) {
        color: rgb(203, 46, 38);
    }
    .show-men li:nth-child(12) {
        color: rgb(0, 0, 172);
    }

    .nav {
        width: 100%;
        height: 40px;
        /* background: rgb(9,3,106);
        background: linear-gradient(90deg, rgba(9,3,106,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
        background-color: beige;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
    }
    
    .nav .one {
        grid-column: span 1;
        background-color: transparent;
        box-shadow: 1px 0px 30px -2px rgba(196, 193, 193, 0.5);
        border-radius: 30px;
        margin: 8px 8px;
        display: flex;
        justify-content: center;
        border: 1px solid #ccc;
    }

    .one .cube {
        width: 53px;
        height: 25px;
    }
    
    .nav .two {
        grid-column: span 1;
        background-color: transparent;
        box-shadow: 1px 0px 30px -2px rgba(196, 193, 193, 0.5);
        border-radius: 30px;
        margin: 8px 8px;
        display: flex;
        justify-content: center;
        border: 1px solid #ccc;
    }

    .two img {
        width: 78px;
        height: 25px;
        object-fit: contain;
    }
    
    .nav .three {
        grid-column: span 1;
        background-color: transparent;
        box-shadow: 1px 0px 30px -2px rgba(196, 193, 193, 0.5);
        border-radius: 30px;
        margin: 8px 8px;
        display: flex;
        justify-content: center;
        border: 1px solid #ccc;
    }

    .three img {
        width: 60px;
        height: 25px;
        object-fit: contain;
    }

    .boxLine {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10px;
        justify-content: center;
        background-color: beige;
    }

    .line {
        margin-top: 20px;
        width: 30%;
        height: 1px;
        background-color: black;
        position: absolute;
        filter: blur(3px);
        justify-self: center;
    }

    .main {
        width: 100%;
        background-color: beige;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main .card {
        display: flex;
        background-color: rgb(112, 192, 242);
        width: 90%;
        height: 250px;
        border-radius: 11px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        box-shadow: 1px 2px 30px 15px rgba(196, 193, 193, 0.5);
    }

    .card img {
        width: 100%;
        height: 103px;
        object-fit: cover;
        margin-top: -18px;
        border-bottom-right-radius: 11px;
        border-bottom-right-radius: 11px;
    }

    .card h1 {
        color: #000;
        margin-top: 10px;
    }

    .card p {
        text-align: center;
        margin-top: 20px;
    }

    .card::after {
        content: '';
        width: 70%;
        height: 1px;
        background-color: black;
        position: absolute;
        filter: blur(3px);
        bottom: 42.8%;
    }

    #some {
        margin-top: 5px;
        width: 290px;
        height: 500px;
        background-color: rgb(244, 244, 229);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 40px;
        left: 9px;
        z-index: 1;
    }

    .arrow {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 14%;
        top: 75%;
    }

    #some a {
        text-decoration: none;
        color: #000;
    }

    #some h1 {
        font-size: 3.40em;
    }

    #some ul {
        margin-top: 10px;
    }

    #some ul li {
        list-style: none;
    }

    #some ul {
        font-size: 14.90px;
    }

    .triangle {
        width: 130px;
        height: 150px;
        background-color: rgb(255, 0, 140);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 40px;
        left: 34%;
        z-index: 1;
    }

    .triangle a {
        text-decoration: none;
        color: #fff;
    }

    .triangle h1 {
        font-size: 1.60em;
    }

    .triangle ul {
        margin-top: 10px;
    }

    .triangle ul li {
        list-style: none;
    }

    .triangle ul {
        font-size: 17.90px;
    }

    .aste {
        width: 130px;
        height: 150px;
        background-color: rgb(221, 255, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 40px;
        right: 2.80%;
        z-index: 1;
    }

    .aste a {
        text-decoration: none;
        color: #000;
    }

    .aste h1 {
        font-size: 1.60em;
    }

    .aste ul {
        margin-top: 10px;
    }

    .aste ul li {
        list-style: none;
    }

    .aste ul {
        font-size: 13.90px;
    }

    .main-two {
        width: 100%;
        height: 800px;
        background-color: beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .main-two img {
        width: 310px;
        height: 190px;
        border-radius: 5px;
        box-shadow: 5px 1px 10px -3px rgba(0, 0, 9, 0.5);
    }

    .main-two img:active {
        transform: scale(1.10);
    }

    .main-two .foto {
        margin-top: 9px;
    }

    .main-two .foto1 {
        object-fit: cover;
    }

    .lv video {
        width: 310px;
        height: 250px;
        box-shadow: 5px 1px 10px -3px rgba(0, 0, 9, 0.5);
        object-fit: cover;
    }
}





