* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 320px) {
    .nav {
        width: 100%;
        height: 40px;
        /* background: rgb(9,3,106);
        background: linear-gradient(90deg, rgba(9,3,106,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
        background-color: beige;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
    }
    
    .nav .one {
        grid-column: span 1;
        background-color: aqua;
        box-shadow: 1px 2px 30px 5px rgba(196, 193, 193, 0.5);
        border-radius: 30px;
        margin: 8px 8px;
        display: flex;
        justify-content: center;
    }

    .one .cube {
        width: 53px;
        height: 25px;
    }
    
    .nav .two {
        grid-column: span 1;
        background-color: rgb(255, 0, 140);
        box-shadow: 1px 2px 30px 5px rgba(196, 193, 193, 0.5);
        border-radius: 30px;
        margin: 8px 8px;
        display: flex;
        justify-content: center;
    }

    .two img {
        width: 70px;
        height: 25px;
        object-fit: contain;
    }
    
    .nav .three {
        grid-column: span 1;
        background-color: rgb(221, 255, 0);
        box-shadow: 1px 2px 30px 5px rgba(196, 193, 193, 0.5);
        border-radius: 30px;
        margin: 8px 8px;
        display: flex;
        justify-content: center;
    }

    .three img {
        width: 60px;
        height: 25px;
        object-fit: contain;
    }

    .boxLine {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10px;
        justify-content: center;
        background-color: beige;
    }

    .line {
        margin-top: 20px;
        width: 30%;
        height: 1px;
        background-color: black;
        position: absolute;
        filter: blur(3px);
        justify-self: center;
    }

    .main {
        width: 100%;
        background-color: beige;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main .card {
        display: flex;
        background-color: rgb(137, 235, 122);
        width: 90%;
        height: 210px;
        border-radius: 11px;
        flex-direction: column;
        align-items: center;
    }

    .card h1 {
        color: #fff;
    }

    .card p {
        text-align: center;
        margin-top: 20px;
    }

    .card::after {
        content: '';
        width: 70%;
        height: 1px;
        background-color: black;
        position: absolute;
        filter: blur(3px);
        bottom: 50.8%;
    }

    .some {
        width: 130px;
        height: 150px;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 40px;
        left: 9px;
        z-index: 1;
    }

    .some a {
        text-decoration: none;
        color: #000;
    }

    .some h1 {
        font-size: 1.60em;
    }

    .some ul {
        margin-top: 10px;
    }

    .some ul li {
        list-style: none;
    }

    .some ul {
        font-size: 14.90px;
    }

    .triangle {
        width: 130px;
        height: 150px;
        background-color: rgb(255, 0, 140);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 40px;
        left: 34%;
        z-index: 1;
    }

    .triangle a {
        text-decoration: none;
        color: #fff;
    }

    .triangle h1 {
        font-size: 1.60em;
    }

    .triangle ul {
        margin-top: 10px;
    }

    .triangle ul li {
        list-style: none;
    }

    .triangle ul {
        font-size: 17.90px;
    }

    .aste {
        width: 130px;
        height: 150px;
        background-color: rgb(221, 255, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: absolute;
        top: 40px;
        right: 2.80%;
        z-index: 1;
    }

    .aste a {
        text-decoration: none;
        color: #000;
    }

    .aste h1 {
        font-size: 1.60em;
    }

    .aste ul {
        margin-top: 10px;
    }

    .aste ul li {
        list-style: none;
    }

    .aste ul {
        font-size: 13.90px;
    }

    .main-two {
        width: 100%;
        height: 800px;
        background-color: beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .main-two img {
        width: 310px;
        height: 190px;
        border-radius: 5px;
        box-shadow: 5px 1px 10px -3px rgba(0, 0, 9, 0.5);
    }

    .main-two img:active {
        transform: scale(1.10);
    }

    .main-two .foto {
        margin-top: 9px;
    }

    .main-two .foto1 {
        object-fit: cover;
    }

    .lv video {
        width: 310px;
        height: 250px;
        box-shadow: 5px 1px 10px -3px rgba(0, 0, 9, 0.5);
    }
}





